@import "https://unpkg.com/open-props";

@import "https://unpkg.com/open-props/normalize.dark.min.css";
@import "https://unpkg.com/open-props/buttons.dark.min.css";

html{
    /* dim */
  --brand-dim: var(--purple-4);
  --text-1-dim: var(--gray-3);
  --text-2-dim: var(--gray-4);
  --surface-1-dim: var(--gray-9);
  --surface-2-dim: var(--gray-8);
  --surface-3-dim: var(--gray-7);
  --surface-4-dim: var(--gray-6);
  --surface-shadow-dim: var(--gray-9-hsl);
  --shadow-strength-dim: 20%;
}

:root {
    --brand: var(--brand-dim);
    --text-1: var(--text-1-dim);
    --text-2: var(--text-2-dim);
    --surface-1: var(--surface-1-dim);
    --surface-2: var(--surface-2-dim);
    --surface-3: var(--surface-3-dim);
    --surface-4: var(--surface-4-dim);
    --surface-shadow: var(--surface-shadow-dim);
    --shadow-strength: var(--shadow-strength-dim);
}


body{
    background-color: var(--);
}

#body {
    display: grid;
    place-content: center;
    padding: var(--size-7);
    gap: var(--size-7);

    font-family: var(--font-mono);
}

header{
    display: flex;
    justify-content: center;
    text-align: center;
}

nav{
    display: flex;
    justify-content: center;
}

nav > button{
    min-width: var(--size-fluid-7);
    margin-right: var(--size-2);
    margin-left: var(--size-2);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* main > *{
    flex: 1 1 100%; 
} */

footer{
    display: flex;
    justify-content: center;
    text-align: center;
}

footer > *{
    margin: var(--size-1);
    padding: var(--size-1);
}

#portfolioItems{
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#portfolioItems > li{
    flex-basis: var(--size-content-1);
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
    background: var(--surface-3);
    border: 1px solid var(--surface-1);
    padding: var(--size-4);
    border-radius: var(--radius-3);
    box-shadow: var(--shadow-2);
    flex:1 1 50%;
} 

img{
    max-width: var(--size-fluid-10);
    margin: var(--size-3);
}

